<% include partials/header %>
  <div class="container">
    <header class="jumbotron">
      <div class="container">
        <h1>Welcome to Thai Text Platform</h1>
        <p>This aims for data collection, thank you all!</p>
        <p>Number of
          <%= filter %> posts :
            <%= postNum %>/
              <%= totalNum %>
        </p>
      </div>
    </header>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <% var startPage = limitPerPage * (currentPage-1) +1 %>
            <% pantipPosts.forEach(function(pantipPost){ %>
              <tr>
                <td align="center">
                  <%= pantipPost.post_no %>
                </td>
                <td>
                  <a href="/posts/page/<%= (currentPage-1) +1 %>/<%= pantipPost._id %>">
                    <%= pantipPost.title %>
                  </a>
                </td>
                <td align="center">
                  <% if (pantipPost.is_reported) { %>
                    <font color="red">&#10006;</font>
                    <% } else if (pantipPost.is_updated){ %>
                      &#10004;
                      <% } else {%>
                        &#10134;
                        <% } %>
                </td>
              </tr>
              <% }); %>
        </tbody>
      </table>

    </div>
    <nav aria-label="...">
      <ul class="pagination">
        <% if (currentPage <= 1) { %>
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <%} else { %>
            <li class="page-item">
              <a class="page-link" href="/posts/<%= filter %>/page/<%= currentPage-1 %>">Previous</a>
            </li>
            <% } %>
              <% var pageLimit = 20 %>
                <% var lowerBoundPage = (pageLimit * (Math.floor(currentPage / pageLimit)) > 1 ? pageLimit * (Math.floor(currentPage / pageLimit)) : 1); %>
                  <% var upperBoundPage = (pageLimit * (Math.floor(currentPage / pageLimit)+1) < totalPage ? pageLimit * (Math.floor(currentPage / pageLimit)+1) : totalPage); %>
                    <% for(i=lowerBoundPage; i<=upperBoundPage; i++){ %>
                      <% if (i==currentPage) { %>
                        <li class="page-item active">
                          <span class="page-link">
                            <%= i %>
                              <span class="sr-only">(current)</span>
                          </span>
                        </li>
                        <% } else { %>
                          <li class="page-item">
                            <a class="page-link" href="/posts/<%= filter %>/page/<%= i %>">
                              <%= i %>
                            </a>
                          </li>
                          <% } %>
                            <% } %>
                              <% if (currentPage >= totalPage) { %>
                                <li class="page-item disabled">
                                  <span class="page-link">Next</span>
                                </li>
                                <%} else { %>
                                  <li class="page-item">
                                    <a class="page-link" href="/posts/<%= filter %>/page/<%= currentPage+1 %>">Next</a>
                                  </li>
                                  <% } %>
      </ul>
    </nav>
  </div>

  <% include partials/footer %>