<% include partials/header %>

  <div class="container">
    <h1 style="text-align: center;">Post information</h1>
    <form action="/posts/page/<%= pageId %>/<%= id %>/report" method="POST">
      <button class="btn btn-lg btn-primary btn-block">Report</button>
    </form>
    <div style="width: 70%; margin: 25px auto;">
      <div style="margin: 25px auto;">
        <div class="container">
          <p>
            <%= pantipPost.title%>
          </p>
          <p>
            <%- pantipTopic%>
          </p>

          <div class="container" style="width: 70%; margin: 30px auto;">
            <form action="/posts/page/<%= pageId %>/<%= id %>?_method=PUT" method="POST">

              <div class="form-group" style="margin: 10px; padding: 20px; border: 1px solid #4CAF50;">
                <div style="margin: 5px; padding: 5px;">
                  <label for="is_problem">Problem :</label>
                  <select id="is_problem" name="is_problem"></select>
                </div>
                <div style="margin: 5px; padding: 5px;">
                  <label for="type">Type :</label>
                  <select class="form-control" id="type" name="type" onchange="showfieldType(this.options[this.selectedIndex].value)">
                  </select>
                  <div id="other_type_div"></div>
                </div>
                <div style="margin: 5px; padding: 5px;">
                  <label for="type_keyword">Type keyword :</label>
                  <div class="type_input_fields_wrap" id="type_keyword">
                    <button class="type_add_field_button">add keyword</button>
                    <div>
                      <input class="form-control" type="text" name="type_keyword[]" placeholder="add keyword (number of sentence)">
                    </div>
                  </div>
                </div>
              </div>
              <div class="company_field_wrap" style="margin: 10px; padding: 20px; border: 1px solid #4CAF50;">
                <div class="form-group">
                  <div style="margin: 5px; padding: 5px;">
                    <label for="company">Company name :</label>
                    <input class="form-control" type="text" name="company_name" placeholder="company1, company2, company3, ...">
                  </div>
                  <div style="margin: 5px; padding: 5px;">
                    <p>company_keyword: </p>
                    <div class="company_input_fields_wrap">
                      <button class="company_add_field_button">add keyword</button>
                      <div>
                        <input class="form-control" type="text" name="company_keyword[]" placeholder="keyword1, keyword2, keyword3, ...">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group" style="margin: 10px; padding: 20px; border: 1px solid #4CAF50;">
            <p>sentiment: </p>
            <input type="radio" name="sentiment" value="positive"> Positive
            <input type="radio" name="sentiment" value="neutral" checked> Neutral
            <input type="radio" name="sentiment" value="negative"> Negative
          </div>

          <div class="container">
            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
          </div>

          </form>
        </div>
      </div>
      <a href="/posts/todo/page/1">Go back</a>
    </div>
  </div>
  <% include partials/footer %>

    <script>
      $(document).ready(function () {
        var type_max_fields = 10; //maximum input boxes allowed
        var type_wrapper = $(".type_input_fields_wrap"); //Fields wrapper
        var type_add_button = $(".type_add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(type_add_button).click(function (e) { //on add input button click
          e.preventDefault();
          if (x < type_max_fields) { //max input box allowed
            x++; //text box increment
            $(type_wrapper).append('<div><input class="form-control" type="text" name="type_keyword[]" placeholder="add keyword"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
          }
        });

        $(type_wrapper).on("click", ".remove_field", function (e) { //user click on remove text
          e.preventDefault(); $(this).parent('div').remove(); x--;
        })
      });
    </script>

    <script>
      $(document).ready(function () {
        var company_max_fields = 10; //maximum input boxes allowed
        var company_wrapper = $(".company_input_fields_wrap"); //Fields wrapper
        var company_add_button = $(".company_add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(company_add_button).click(function (e) { //on add input button click
          e.preventDefault();
          if (x < company_max_fields) { //max input box allowed
            x++; //text box increment
            $(company_wrapper).append('<div><input class="form-control" type="text" name="company_keyword[]" placeholder="keyword1, keyword2, keyword3, ..."/><a href="#" class="remove_field">Remove</a></div>'); //add input box
          }
        });

        $(company_wrapper).on("click", ".remove_field", function (e) { //user click on remove text
          e.preventDefault(); $(this).parent('div').remove(); x--;
        })
      });
    </script>

    <script type="text/javascript">

      function showfieldType(name) {
        if (name == 'Other') document.getElementById('other_type_div').innerHTML = 'Other: <input class="form-control" type="text" name="other_type" placeholder="add type"/>';
        else document.getElementById('other_type_div').innerHTML = '';
      }
    </script>

    <script>
      window.onload = function () {
        // you can think of it as a lookup table
        var lookups = {
          'Problem': ['ระบบขัดข้อง', 'การบริการ', 'Other'],
          'Not problem': ['สอบถาม', 'พูดคุยทั่วไป', 'Other']
        },
          // just grab references to the two drop-downs
          is_problem_select = document.querySelector('#is_problem'),
          type_select = document.querySelector('#type');

        // populate the provinces drop-down
        setOptions(is_problem_select, Object.keys(lookups));
        // populate the town drop-down
        setOptions(type_select, lookups[is_problem_select.value]);

        // attach a change event listener to the provinces drop-down
        is_problem_select.addEventListener('change', function () {
          // get the towns in the selected province
          setOptions(type_select, lookups[is_problem_select.value]);
        });

        function setOptions(dropDown, options) {
          // clear out any existing values
          dropDown.innerHTML = '';
          // insert the new options into the drop-down
          options.forEach(function (value) {
            dropDown.innerHTML += '<option name="' + value + '">' + value + '</option>';
          });
        }
      };
    </script>